@using Layout.Partials.SidebarLayout.Search
@using Almacen.Shared.Partials.Menus
@using Almacen.Shared.Partials.ThemeMode


<!--begin::Navbar-->
<div class="app-navbar flex-shrink-0">

	<!--end::My apps links-->
	<!--begin::User menu-->
	<div class="app-navbar-item ms-1 ms-md-4" id="kt_header_user_menu_toggle">
		<!--begin::Menu wrapper-->
		<div class="cursor-pointer symbol symbol-35px" data-kt-menu-trigger="{default: 'click', lg: 'hover'}" data-kt-menu-attach="parent" data-kt-menu-placement="bottom-end">
			<img src="assets/media/avatars/300-3.jpg" class="rounded-3" alt="user" />
		</div>
		<_UserAccountMenu></_UserAccountMenu>
		<!--end::Menu wrapper-->
	</div>
	<!--end::User menu-->
	
</div>
<!--end::Navbar-->